@page
@model GrKouk.WebRazor.Pages.Transactions.WarehouseTransMng.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].TransDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].TransWarehouseDocSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].TransWarehouseDocType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].TransRefCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].FiscalPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].CreatorId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].FpaRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].PrimaryUnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].SecondaryUnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Quontity1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Quontity2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].AmountFpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].AmountNet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].AmountDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Etiology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseTransaction[0].Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WarehouseTransaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransWarehouseDocSeries.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransWarehouseDocType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransRefCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalPeriod.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FpaRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryUnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryUnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quontity1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quontity2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountFpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountNet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etiology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
