@page
@model GrKouk.WebRazor.Pages.Transactions.WarehouseTransMng.IndexModel

@{
    ViewData["Title"] = "Warehouse Transactions";
}

<h2>Warehouse Transactions</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<form class="form-inline" asp-page="./Index" method="get">

    <p>
        Find by name:
        <input class="form-control-sm" type="text" name="SearchString" value="@Model.CurrentFilter" />
        <select name="DatePeriodFilter" asp-for="CurrentDatePeriod" class="form-control-sm" asp-items="ViewBag.DataFilterValues"></select>
        <input type="submit" value="Refresh" class="btn btn-light" /> |
        Page Size:
        <select asp-for="PageSize" onchange="this.form.submit()">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="100">100</option>
        </select>
        |
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.ListItems.CurrentPage )"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-datePeriodFilter="CURMONTH"
           asp-route-PageSize="@Model.PageSize">Back to full List</a>

    </p>

</form>

<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-searchFilter="@Model.CurrentFilter"
                   asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.ListItems[0].TransDate)

                </a>
                <i class="@Model.DateSortIcon"></i>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].TransWarehouseDocSeriesName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ListItems[0].SectionCode)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].TransRefCode)
            </th>

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-searchFilter="@Model.CurrentFilter"
                   asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.ListItems[0].MaterialName)
                </a>

                <i class="@Model.NameSortIcon"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].ImportUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].ExportUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].DebitAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].CreditAmount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].CompanyCode)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListItems)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.TransDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransWarehouseDocSeriesName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.SectionCode)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TransRefCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.ImportUnits)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.ExportUnits)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.DebitAmount)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.CreditAmount)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.ListItems.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.ListItems.HasNext ? "disabled" : "";
}

<form class="form-inline" method="get">
   
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.ListItems.CurrentPage - 1)"
       asp-route-searchFilter="@Model.CurrentFilter"
       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
       asp-route-PageSize="@Model.PageSize"
       class="btn btn-light @prevDisabled">
        <
    </a>
    Page:@Model.ListItems.CurrentPage of @Model.ListItems.TotalPages Total Items @Model.ListItems.TotalCount
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.ListItems.CurrentPage + 1)"
       asp-route-searchFilter="@Model.CurrentFilter"
       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
       asp-route-PageSize="@Model.PageSize"
       class="btn btn-light @nextDisabled">
        >
    </a>

</form>