@page
@model GrKouk.WebRazor.Pages.MainEntities.MaterialCodes.CreateModelCopy

@{
    ViewData["Title"] = "Create";
}

<h4>New WarehouseItem Code</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ParentPageIndex" />
        <input type="hidden" asp-for="ParentFiltersVisible" />
        <input type="hidden" asp-for="ParentPageSize" />
        <input type="hidden" asp-for="ParentRowSelectorsVisible" />
        <input type="hidden" asp-for="ParentSearchString" />
        <input type="hidden" asp-for="ParentSortOrder" />
        <input type="hidden" asp-for="ParentWarehouseItemNatureFilter" />
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label asp-for="WarehouseItemCode.WarehouseItemId" class="control-label small"></label>
                <select asp-for="WarehouseItemCode.WarehouseItemId" class="form-control form-control-sm" asp-items="ViewBag.WarehouseItemId"></select>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="WarehouseItemCode.CodeType" class="control-label small"></label>
                <select asp-for="WarehouseItemCode.CodeType" class="form-control form-control-sm" asp-items="ViewBag.CodeType"></select>
                <span asp-validation-for="WarehouseItemCode.CodeType" class="text-danger small"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="WarehouseItemCode.Code" class="control-label small"></label>
                <input asp-for="WarehouseItemCode.Code" class="form-control form-control-sm" />
                <span asp-validation-for="WarehouseItemCode.Code" class="text-danger small"></span>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-sm-2">
                <label asp-for="WarehouseItemCode.TransactorId" class="control-label small"></label>
                <input asp-for="WarehouseItemCode.TransactorId" class="form-control form-control-sm" />
                <span asp-validation-for="WarehouseItemCode.TransactorId" class="text-danger small"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="WarehouseItemCode.CodeUsedUnit" class="control-label small"></label>
                <select asp-for="WarehouseItemCode.CodeUsedUnit" class="form-control form-control-sm" asp-items="ViewBag.CodeUsedUnit"></select>
                <span asp-validation-for="WarehouseItemCode.CodeUsedUnit" class="text-danger small"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="Index"
       asp-route-pageIndexKartela="@(Model.ParentPageIndex)"
       asp-route-PageSizeKartela="@Model.ParentPageSize"
       asp-route-sortOrder="@Model.ParentSortOrder"
       asp-route-currentFilter="@Model.ParentSearchString"
       asp-route-filtersVisible="@Model.ParentFiltersVisible"
       asp-route-rowselectorsVisible="@Model.ParentRowSelectorsVisible"
       >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
