@page
@using System.Collections.Specialized
@model GrKouk.WebRazor.Pages.Expenses.IndexModel

@{
    ViewData["Title"] = "Diary Transactions";
}

<h2>Diary Transactions</h2>
@System.Globalization.CultureInfo.CurrentCulture
@System.Globalization.CultureInfo.CurrentUICulture

<p>
    <a asp-page="Create">Δημιουργία</a>
</p>


<form class="form-inline" asp-page="./Index" method="get">

    <p>
        Find by name:
        <input class="form-control-sm" type="text" name="SearchString" value="@Model.CurrentFilter" />
        <select name="DatePeriodFilter" asp-for="CurrentDatePeriod" class="form-control-sm" asp-items="ViewBag.DataFilterValues"></select>
        <input type="submit" value="Refresh" class="btn btn-light btn-sm" /> |
        Page Size:
        <select asp-for="PageSize" onchange="this.form.submit()" >
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="100">100</option>
        </select>
        |
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.ListItems.CurrentPage )"
          asp-route-datePeriodFilter="CURMONTH"
           asp-route-PageSize="@Model.PageSize">Back to full List</a>

    </p>

</form>
<div class="table-responsive-sm">
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                       asp-route-searchFilter="@Model.CurrentFilter"
                       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                       asp-route-PageSize="@Model.PageSize">
                        @Html.DisplayNameFor(model => model.ListItems[0].TransactionDate)

                    </a>
                    <i class="@Model.DateSortIcon"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListItems[0].ReferenceCode)
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                       asp-route-searchFilter="@Model.CurrentFilter"
                       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                       asp-route-PageSize="@Model.PageSize">
                        @Html.DisplayNameFor(model => model.ListItems[0].TransactorName)
                    </a>

                    <i class="@Model.NameSortIcon"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListItems[0].FinTransCategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListItems[0].CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListItems[0].CostCentreName)
                </th>



                <th>
                    @Html.DisplayNameFor(model => model.ListItems[0].AmountTotal)
                </th>

                <th>Available Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListItems)
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinTransCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostCentreName)
                    </td>


                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.AmountTotal)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{

    var prevDisabled = !Model.ListItems.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.ListItems.HasNext ? "disabled" : "";
}

<form class="form-inline" name="PageSizeForm" method="get">
  
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.ListItems.CurrentPage - 1)"
       asp-route-searchFilter="@Model.CurrentFilter"
       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
       asp-route-PageSize="@Model.PageSize"
       class="btn btn-light @prevDisabled">
        <
    </a>
    Page:@Model.ListItems.CurrentPage of @Model.TotalPages Total Items @Model.TotalCount
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.ListItems.CurrentPage + 1)"
       asp-route-searchFilter="@Model.CurrentFilter"
       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
       asp-route-PageSize="@Model.PageSize"
       class="btn btn-light @nextDisabled">
        >
    </a>

</form>
@section Scripts {
    <script>
        //$(document).ready(function () { });
        //var $pageSize = $('#PageSize');
        //var $datePeriod = $('#CurrentDatePeriod');
        //var $searchString = $('[name="SearchString"]');
        //$pageSize.change((e) => {
        //    console.log(e.tostring);
        //    $('#searchFilter').val($searchString.val());
        //    console.log("Parameter Search Filter is " + $searchString.val());
        //    $('#datePeriodFilter').val($datePeriod.val());
        //    console.log("Parameter datePeriodFilter is " + $datePeriod.val());
        //    //$('#sortOrder').val();
        //    console.log(this.toString());
        //    console.log($(this).toString());
        //    var $f = $('[name="PageSizeForm"]');
        //    console.log($f.toString());
        //    console.log('Form Data');
        //    console.log($f.serialize().toString());
        //    $f.submit();
        //});
    </script>
}