@page
@model GrKouk.WebRazor.Pages.Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Λίστα Εξόδων</h2>
@System.Globalization.CultureInfo.CurrentCulture
@System.Globalization.CultureInfo.CurrentUICulture

<p>
    <a asp-page="Create">Δημιουργία</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
            Page Size:
            <select asp-for="PageSize" onchange="this.form.submit()">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="100">100</option>
            </select>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].TransactionDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].ReferenceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].TransactorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].FinTransCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].CostCentreName)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.FinDiaryTransaction[0].AmountTotal)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FinDiaryTransaction)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinTransCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.CostCentreName)
                </td>


                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.AmountTotal)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.FinDiaryTransaction.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.FinDiaryTransaction.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.FinDiaryTransaction.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-PageSize="@Model.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.FinDiaryTransaction.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-PageSize="@Model.PageSize"
   class="btn btn-default @nextDisabled">
    Next
</a>
