<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GrKouk Web ERP</title>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
            integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
            crossorigin="anonymous">

    </script>

    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @RenderSection("MyCss", required: false)
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a asp-page="/Index" class="navbar-brand">GrKouk Web ERP </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarMain"
            aria-controls="navBarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarMain">
        <ul class="navbar-nav mr-auto">


            @if (User.IsInRole("Admin"))
            {
                <li class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @* <span class="dropdown-item-text">Configuration</span>*@
                        <a class="dropdown-item" asp-page="/Expenses/index">Exprenses(Εξοδα)</a>
                        <a class="dropdown-item" asp-page="/transactions/buymaterialsDoc/index">Αγορές Υλικών</a>
                        <a class="dropdown-item" asp-page="/transactions/sellmaterialDoc/index">Πωληση Υλικών</a>
                        <a class="dropdown-item" asp-page="/transactions/RecurringTransactions/index">Συνδρομές</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/Transactions/TransactorTransMng/index">Transactors Transactions</a>
                        <a class="dropdown-item" asp-page="/Transactions/WarehouseTransMng/index">Warehouse Transactions</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/mainentities/Transactors/index">Transactors</a>
                        <a class="dropdown-item" asp-page="/mainentities/materials/index">WarehouseItems</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/transactions/productionrecipies/index">Production Recipies</a>


                    </div>
                </li>
                <li class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Configuration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-page="/MediaMng/index">Media</a>
                        <a class="dropdown-item" asp-page="/commonentities/CashRegCategories/index">Cash Register Categories</a>
                        <a class="dropdown-item" asp-page="/commonentities/ClientProfiles/index">Client Profiles</a>
                        <a class="dropdown-item" asp-page="/commonentities/CrCashCatWarehouseItem/index">Cash Cat Wareh Item</a>
                        <a class="dropdown-item" asp-page="/mainentities/Diaries/index">Diaries</a>
                        <a class="dropdown-item" asp-page="/commonentities/MeasureUnits/index">Measure Units</a>
                        <a class="dropdown-item" asp-page="/commonentities/fpakategories/index">VAT Categories</a>
                        <a class="dropdown-item" asp-page="/commonentities/MaterialCategories/index">Meterial Categories</a>
                        <a class="dropdown-item" asp-page="/configuration/sectionsManagement/index">Sections Management</a>
                        <a class="dropdown-item" asp-page="/commonentities/fiscalperiodsmanagement/index">Fiscal Periods Management</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/commonentities/costcentres/index">Cost Centres Management</a>
                        <a class="dropdown-item" asp-page="/commonentities/FinCategories/index">Financial Categories Management</a>
                        <a class="dropdown-item" asp-page="/Companies/index">Companies(Εταιρείες)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/configuration/FinancialMovements/index">Financial Movements</a>
                        <a class="dropdown-item" asp-page="/configuration/TransactorTypes/index">Transactor Types</a>
                        <a class="dropdown-item" asp-page="/configuration/paymentmethods/index">Payment Methods</a>

                    </div>
                </li>
                <li class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Παραστατικά
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-page="/configuration/warehousetransdef/index">Warehouse Trans Def</a>
                        <a class="dropdown-item" asp-page="/configuration/WarehouseTransDocTypeDef/index">Warehouse Trans Doc Type Def</a>
                        <a class="dropdown-item" asp-page="/configuration/WarehouseTransDocSeriesDef/index">Warehouse Trans Doc Series Def</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/configuration/Buydoctypedefinition/index">WarehouseItems Buy Type Def</a>
                        <a class="dropdown-item" asp-page="/configuration/Buydocseriesdefinitions/index">WarehouseItems Buy Series Def</a>
                        <a class="dropdown-item" asp-page="/configuration/SellDocTypeDefs/index">Sell Type Def</a>
                        <a class="dropdown-item" asp-page="/configuration/SellDocSeriesDefs/index">Sell Series Def</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/configuration/transactorTransDefs/index">Transactor Trans Def</a>
                        <a class="dropdown-item" asp-page="/configuration/TransactorTransDocTypes/index">Transactor Trans Doc Type Defs</a>
                        <a class="dropdown-item" asp-page="/configuration/TransactorTransDocSeries/index">Transactor Trans Doc Series Defs</a>

                    </div>
                </li>
                <li class="nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Εργαλεία
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-page="/tools/updaterates">Ενημέρωση ισοτιμιών</a>
                        <a class="dropdown-item" asp-page="/settings/AppSettings">Application Settings</a>
                    </div>

                </li>
            }
        </ul>
        <partial name="_LoginPartial"/>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-page="/About">About</a>
                </li>
                <li>
                    <a asp-page="/Contact">Contact</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-page="/Companies/index">Companies(Εταιρείες)</a>
                            </li>
                            <li>
                                <a asp-page="/Expenses/index">Exprenses(Εξοδα)</a>
                            </li>
                            <li>
                                <a asp-page="/configuration/warehousetransdef/index">Warehouse Trans Def</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a asp-page="/FinancialMovements/index">Financial Movements</a>
                            </li>
                            <li>
                                <a asp-page="/TransactorTypes/index">Transactor Types</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a asp-page="/Transactors/index">Transactors</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
            @*<partial name="_LoginPartial" />*@
        </div>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>
            &copy; 2018 - George Koukoudis Version @System.Reflection.Assembly.GetEntryAssembly().GetName().Version
        </p>
    </footer>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<environment include="Development">
   <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
   <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
@await Component.InvokeAsync("NToastNotify")
</body>
</html>