@page

@model GrKouk.WebRazor.Pages.Transactions.BuyMaterialsDoc.CreateModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Create";
}
<style>
    .ui-autocomplete-loading {
        background: white url('@Url.Content("~/images/ui-anim_basic_16x16.gif")') right center no-repeat;
    }
    .ui-autocomplete.ui-widget {
        font-family: Verdana,Arial,sans-serif;
        font-size: 12px;
    }
</style>
<h4>Νέο παραστατικό αγοράς υλικών</h4>
<hr />
<div class="container">
    <form method="post" id="transForm">
        <fieldset id="thisForm">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            <input type="hidden" asp-for="@Model.InitialLoad" id="IsInitialLoad" />
            <input type="hidden" id="MaterialId" />
            <input type="hidden" id="MaterialLastPrice" />
            <input type="hidden" id="MaterialFactor" />
            <input type="hidden" id="MaterialFpaId" />
            <input type="hidden" id="MaterialMainUnitId" />
            <input type="hidden" id="MaterialSecondaryUnitId" />
            <input type="hidden" id="MaterialsCounter" />
            <input type="hidden" id="SeriesUsedPrice" />
            <input type="hidden" id="LineEditing" />
            <input type="hidden" id="LookupValueValid" />
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="ItemVm.TransDate" class="control-label small "></label>
                    <input asp-for="ItemVm.TransDate" class="form-control form-control-sm small" autofocus />
                    <span asp-validation-for="ItemVm.TransDate" class="text-danger small"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="ItemVm.BuyDocSeriesId" class="control-label small"></label>
                    <select asp-for="ItemVm.BuyDocSeriesId" class="form-control form-control-sm small" asp-items="ViewBag.BuyDocSeriesId"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="ItemVm.TransRefCode" class="control-label small"></label>
                    <input asp-for="ItemVm.TransRefCode" class="form-control form-control-sm small" />
                    <span asp-validation-for="ItemVm.TransRefCode" class="text-danger small"></span>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="ItemVm.TransactorId" class="control-label small"></label>
                    <select asp-for="ItemVm.TransactorId" class="form-control form-control-sm small" asp-items="ViewBag.TransactorId"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ItemVm.CompanyId" class="control-label" small></label>
                    <select asp-for="ItemVm.CompanyId" class="form-control form-control-sm small" asp-items="ViewBag.CompanyId"></select>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-sm-1">
                    <label class="control-label small">Seek Type</label>
                    <select asp-for="SeekType" class="form-control form-control-sm " style="font-size: 0.7rem" asp-items="ViewBag.SeekType"></select>
                </div>
                <div class="form-group col-sm-3">

                    <label class="small">LookUp</label>
                    <input class="form-control form-control-sm small" style="font-size: 0.7rem" id="Lookup" />
                    <span class="text-danger small"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label class="small" id="q1Label">Q1</label>
                    <input class="form-control form-control-sm small " style="font-size: 0.7rem" type="number" placeholder="Q 1" id="Q1" />
                    <div class="invalid-feedback">
                        Please enter a valid Q1.
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label class="small" id="q2Label">Q2</label>
                    <input class="form-control form-control-sm small " style="font-size: 0.7rem" type="number" placeholder="Q 2" id="Q2" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-md-1">
                    <label class="small" id="priceLabel">Price</label>
                    <input class="form-control form-control-sm " type="number" style="font-size: 0.7rem" placeholder="Price" id="Price" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-md-1">
                    <label class="small">Price Net</label>
                    <input class="form-control form-control-sm " style="font-size: 0.7rem" type="number" placeholder="Price Net" id="PriceNet" tabindex="-1" readonly />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-1">
                    <label class="small">Dis% </label>
                    <input class="form-control form-control-sm small " style="font-size: 0.7rem" type="number" placeholder="Dis %" id="Discount" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-1">
                    <label class="small">VAT% </label>
                    <input class="form-control form-control-sm small " style="font-size: 0.7rem" type="number" placeholder="Vat%" id="VatPercent" />
                    <span class="text-danger small"></span>
                </div>
                <div class="form-group col-sm-1 align-self-end">
                    <button id="addToList" class="btn btn-primary btn-sm">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <table id="detailsTable" class="table table-responsive-sm">
                    <thead class="small">
                        <tr>
                            <th class="small" style="width: 0%"> #</th>
                            <th class="small" style="width: 20%">Product</th>
                            <th class="small text-center" style="width: 5%">Q1</th>
                            <th class="small text-center" style="width: 5%">Q2</th>
                            <th class="small text-center" style="width: 10%">Unit Price</th>
                            <th class="small text-center" style="width: 5%">Disc%</th>
                            <th class="small text-center" style="width: 5%">Vat%</th>
                            <th class="small text-center" style="width: 10%">Net</th>
                            <th class="small text-center" style="width: 10%">Disc</th>
                            <th class="small text-center" style="width: 10%">Vat</th>
                            <th class="small text-center" style="width: 10%">Gross</th>
                            <th class="small" style="width: 1%"></th>
                            <th class="small" style="width: 1%"></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label class=" small">Net Amount</label>
                    <input id="ItemVm_AmountNet" class="form-control form-control-sm small text-right" type="text" disabled />
                    <span asp-validation-for="ItemVm.AmountNet" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label class=" small">Discount</label>
                    <input id="ItemVm_AmountDiscount" class="form-control form-control-sm small text-right" type="text" disabled />
                    <span asp-validation-for="ItemVm.AmountDiscount" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label class="small">Amount VAT</label>
                    <input id="ItemVm_AmountFpa" class="form-control form-control-sm small text-right" type="text" disabled />
                    <span asp-validation-for="ItemVm.AmountFpa" class="text-danger small"></span>
                </div>


                <div class="form-group">
                    <label class=" small">Sum</label>
                    <input id="DocumentSum" type="text" class="form-control form-control-sm small text-right" disabled />

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="ItemVm.Etiology" class="control-label small"></label>
                    <textarea asp-for="ItemVm.Etiology" class="form-control form-control-sm small"></textarea>
                    <span asp-validation-for="ItemVm.Etiology" class="text-danger small"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" id="saveForm" />
            </div>
        </fieldset>
    </form>

</div>

<div>
    <a class="small" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ui.autocomplete.scroll.min.js"></script>
    <script>
        $(document).ready(function() {
            console.log("Inside Document ready");
            $('#LineEditing').val(0);
            var currentCulture = '@System.Globalization.CultureInfo.CurrentCulture';
            console.log('Current Culture ' + currentCulture);

            var formatterCurrency = new Intl.NumberFormat(currentCulture,
                {
                    style: 'currency',
                    currency: 'EUR',
                    minimumFractionDigits: 2
                });
            var formatterNumber = new Intl.NumberFormat(currentCulture,
                {
                    maximumFractionDigits: 3

                });
            //#region variables
            var $transDate = $('#ItemVm_TransDate');
            var securityToken = $('[name=__RequestVerificationToken]').val();

            var $lookUp = $('#Lookup');
            var $q1 = $('#Q1');
            var $q2 = $('#Q2');
            var $materialCounter = $('#MaterialsCounter');
            var $lineEditing = $('#LineEditing');
            var $amountNet = $('#ItemVm_AmountNet');
            var $amountFpa = $('#ItemVm_AmountFpa');
            var $amountDiscount = $('#ItemVm_AmountDiscount');
            var $amountSum = $('#DocumentSum');
            var $q1Label = $('#q1Label');
            var $q2Label = $('#q2Label');
            var $discount = $("#Discount");
            var $materialId = $('#MaterialId');
            var $vatPercent = $('#VatPercent');
            var $factor = $('#MaterialFactor');
            var $mainUnitId = $('#MaterialMainUnitId');
            var $secUnitId = $('#MaterialSecondaryUnitId');
            var $seekType = $('#SeekType');
            var $initialLoad = $('#IsInitialLoad');
            var $priceNetto = $('#MaterialNettoPrice');
            var $priceBrutto = $('#MaterialBruttoPrice');
            var $seriesUsedPrice = $('#SeriesUsedPrice');
            var $priceLabel = $('#priceLabel');
            var $transDocSeriesId = $('#ItemVm_BuyDocSeriesId');
            var $companyId = $('#ItemVm_CompanyId');
            var $price = $("#Price");
            var $priceNet = $("#PriceNet");
            var $lookupValueValid = $("#LookupValueValid");
            var $materialFpaId = $('#MaterialFpaId');
            //#endregion

            //#region Initial values
            $materialCounter.val(0);
            $transDate.val(new Date().toISOString().slice(0, 10));
            $amountNet.attr('data-actualValue', '0');
            $amountNet.val(0);
            $amountFpa.attr('data-actualValue', '0');
            $amountFpa.val(0);
            $amountDiscount.attr('data-actualValue', '0');
            $amountDiscount.val(0);
            $amountSum.attr('data-actualValue', '0');
            $amountSum.val(0);
            //#endregion
            var priceChanged = () => {
                var priceValue =parseFloat( $price.val());
                var fpaValue = parseFloat($vatPercent.val());
                var priceNetValue = 0;

                if (fpaValue != 0) {
                    priceNetValue = priceValue / (1 + fpaValue);
                } else {
                    priceNetValue = priceValue;
                }
                var priceType = $seriesUsedPrice.val();
                switch (priceType) {
                case '1':
                    $priceNet.val(priceValue);
                    break;
                case '2':
                    $priceNet.val(priceNetValue);
                    break;
                default:
                    break;
                }
            };
            var lineUpdatePrice = (linePrice, lineFpaRate) => {
                var priceNetValue = parseFloat( linePrice);
                var fpaValue = parseFloat(lineFpaRate);
                var priceValue = 0;

                if (fpaValue != 0) {
                    priceValue = priceNetValue * (1 + fpaValue);
                } else {
                    priceValue = priceNetValue;
                }
                var priceType = $seriesUsedPrice.val();
                switch (priceType) {
                case '1'://Netto
                        $priceNet.val(priceNetValue);
                        $price.val(priceNetValue);
                    break;
                case '2'://Brutto
                        $priceNet.val(priceNetValue);
                        $price.val(priceValue);
                    break;
                default:
                    break;
                }
            };

            var companyChanged = () => {

                //sessionStorage.setItem('CompanyId', $companyId.val());
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',

                    dataType: 'json',
                    type: 'GET',
                    url: "/api/Materials/SetCompanyInSession?companyId="+$companyId.val(),

                    success: function(result) {

                    },
                    error: function(e) {

                    }
                });
            };
            var seriesChanged = () => {
                console.log("Inside Series Changed");

                var seriesId = $transDocSeriesId.val();
                var uri = '@Configuration.GetSection("WebApiSettings")["WebApiLocal"]';
                var finalUri = `${uri}/materials/BuySeriesData?seriesId=${seriesId}`;
                fetch(finalUri)
                    .then(function(response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            return "-1";
                        }

                    })
                    .then(function(myJson) {
                        console.log("Inside fetch then with myJson" + JSON.stringify(myJson));
                        if (myJson) {

                            var usedPrice = myJson.usedPrice;
                            console.log("Returned usedPrice=" + usedPrice);
                            $seriesUsedPrice.val(usedPrice);

                        }
                        // $spinner.attr('hidden', true);
                    })
                    .catch((error) => {
                            // $spinner.attr('hidden', true);
                            console.log(error);
                        }
                    );
            };
            var q1Changed = () => {
                $q2.val($q1.val() / $factor.val());
            };
            var q2Changed = () => {
                $q1.val($q2.val() * $factor.val());
            };
            var setupUnitToUse = (e) => {
                switch (e) {
                    case 'MAIN':
                        $q1.prop('disabled', false);
                        $q2.prop('disabled' , true);
                        break;
                    case 'SEC':
                        $q1.prop('disabled', true);
                        $q2.prop('disabled' , false);
                        break;
                    case 'BUY':
                        $q1.prop('disabled', true);
                        $q2.prop('disabled' , false);
                        break;

                    default:
                        $q1.prop('disabled', false);
                        $q2.prop('disabled', false);
                        break;
                }
            };
            var initValUnitToUse = (e) => {
                switch (e) {
                    case 'MAIN':
                        $q1.val(1);
                        q1Changed();
                        $q1.focus();
                        break;
                    case 'SEC':
                        $q2.val(1);
                        q2Changed();
                        $q2.focus();    
                        break;
                    case 'BUY':
                        $q2.val(1);
                        q2Changed();
                        $q2.focus();    
                        break;

                    default:
                        $q1.val(1);
                        q1Changed();
                        break;
                }
            };

            var seekBarcode = () => {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: "/api/Materials/SeekBarcode?barcode="+$lookUp.val(),

                    success: function(result) {

                        var r = result;
                        console.log(r);
                        var mName = r.name;
                        var mFactor = r.factor;
                        var mId = r.id;
                        var rate = r.fpaRate;
                        var lastPrice = r.lastPrice;
                        var fpaId = r.fpaId;
                        var unitToUse = r.unitToUse;
                        setupUnitToUse(unitToUse);
                        $mainUnitId.val(r.mainUnitId);
                        $secUnitId.val(r.buyUnitId);
                        $materialId.val(mId);
                        $factor.val(mFactor);
                        $vatPercent.val(rate);
                        $discount.val(0);
                        $materialFpaId.val(fpaId);
                        $price.val(lastPrice);
                        $priceNet.val(lastPrice);
                        $lookUp.val(mName);
                        initValUnitToUse(unitToUse);
                        $lookupValueValid.val('OK');
                    },
                    error: function(e) {
                        $lookupValueValid.val('ERROR');
                        //toastr.error("Error", "Error");
                    }
                });
            };
            var updateCounter = () => {
                var lineCounter = 0;
                var sumNet = 0;
                var sumVat = 0;
                var sumDisc = 0;
                var sumGross = 0;

                $.each($('#detailsTable tbody tr'),
                    function() {
                        lineCounter++;
                        $(this).find('td:eq(0)').text(lineCounter);
                        var lineNet = $(this).find('td:eq(7)').attr('data-actualValue');
                        var lineDisc = $(this).find('td:eq(8)').attr('data-actualValue');
                        var lineVat = $(this).find('td:eq(9)').attr('data-actualValue');
                        var lineGross = $(this).find('td:eq(10)').attr('data-actualValue');
                        sumNet += parseFloat(lineNet);
                        sumDisc += parseFloat(lineDisc);
                        sumVat += parseFloat(lineVat);
                        sumGross += parseFloat(lineGross);
                    });
                $amountNet.val(formatterCurrency.format(sumNet));
                $amountNet.attr('data-actualValue', sumNet);
                $amountFpa.val(formatterCurrency.format(sumVat));
                $amountFpa.attr('data-actualValue', sumVat);
                $amountDiscount.val(formatterCurrency.format(sumDisc));
                $amountDiscount.attr('data-actualValue', sumDisc);
                $amountSum.val(formatterCurrency.format(sumGross));
                $amountSum.attr('data-actualValue', sumGross);
            };
            var autoCompleteNameDef = {
                 source: '/api/materials/SearchForMaterials',
                minLength: 2,
                maxShowItems:10,
                select: function(event, ui) {
                    $materialId.val(ui.item.value);
                    console.log(ui.item.value.toString());
                    this.value = ui.item.label;
                    //Get Material data
                    var uri = '@Configuration.GetSection("WebApiSettings")["WebApiLocal"]';
                    var finalUri = `${uri}/materials/materialdata?materialId=${ui.item.value}`;

                    console.log(finalUri);

                    fetch(finalUri)
                        .then(function(response) {
                            if (response.ok) {
                                return response.json();
                            } else {
                                return "";
                            }

                        })
                        .then(function(myJson) {
                            if (myJson) {
                                console.log(JSON.stringify(myJson));
                                var rate = myJson.fpaRate;
                                var lastPrice = myJson.lastPrice;
                                var fpaId = myJson.fpaId;
                                //I Use main unit and Buy Unit as secondary
                                $q1Label.text(`Q1(${myJson.mainUnitCode})`);
                                $q2Label.text(`Q2(${myJson.buyUnitCode})`);
                                $vatPercent.val(rate);
                                $('#MaterialFpaId').val(fpaId);
                                $price.val(lastPrice);
                                $priceNet.val(lastPrice);
                                $mainUnitId.val(myJson.mainUnitId);
                                $secUnitId.val(myJson.buyUnitId);
                                $factor.val(myJson.factorBuy);
                                $discount.val('0');
                                $lookupValueValid.val('OK');
                            }
                            else {
                                $lookupValueValid.val('ERROR');
                            }

                        })
                        .catch((error) => {
                            $lookupValueValid.val('ERROR');
                            console.log(error);
                        });
                    return false;
                 }

            };

            var setSeekType = () => {
                $lookUp.off('change');
                try {
                    $lookUp.autocomplete("destroy");
                } catch (e) {
                    console.log('Error in autocomplete destroy.');
                }

                var sType = $seekType.val();
                switch (sType) {
                    case 'NAME':
                        $q1.prop('disabled', false);
                        $q2.prop('disabled' , false);
                        $lookUp.autocomplete(autoCompleteNameDef);
                        break;
                    case 'CODE':
                        break;
                    case 'BARCODE':
                        $lookUp.change(() => {
                            seekBarcode();
                         });
                        break;
                    default:
                }
            };
            $seekType.change(() => {
                setSeekType();
            });
            $vatPercent.change(() => {
                priceChanged();
            });
            $price.change(() => {
                priceChanged();
            });
            $companyId.change(() => {
                companyChanged();
            });

            $transDocSeriesId.change(() => {
                seriesChanged();
            });
           
            $q1.change(() => {
                console.log("Q1 change event ->" + $q1.val());
                q1Changed();
            });

            $q2.change(() => {
                console.log("Q2 change event ->" + $q2.val());
                q2Changed();

            });

            $('#addToList').click((e) => {
                e.preventDefault();
                if ($lookupValueValid.val() != 'OK') {
                    toastr.error('Lookup value not correct');
                    return;
                }
                if ($.trim($lookUp.val()) == "" ||
                    $.trim($price.val()) == "" ||
                    $.trim($q1.val()) == "") {
                    toastr.error('Line not correct');
                    return;
                }
                var productName = $lookUp.val();
                var price = $priceNet.val();
                var quantity1 = $q1.val();
                var quantity2 = $q2.val();
                var discount = $discount.val();
                var materialId = $materialId.val();
                var vatPercent = $vatPercent.val();
                var factor = $factor.val();
                var mainUnitId = $mainUnitId.val();
                var secUnitId = $secUnitId.val();
                var materialCounter = parseInt($materialCounter.val()) + 1;
                var netAmount = parseFloat(quantity1) * parseFloat(price);
                var discountAmount = netAmount * parseFloat(discount);
                var lineEdit = $lineEditing.val();
                var fpaAmount = (netAmount - discountAmount) * parseFloat(vatPercent);
                var grosAmount = (netAmount - discountAmount) + fpaAmount;

                console.log("Inside AddToList with lineEdit is " + lineEdit);
                if (lineEdit == 0) {
                    console.log("Inside lineEdit Adding Line");
                    //Εισαγωγή γραμμής

                    var detailsTableBody = $("#detailsTable tbody");

                    //#region Add Table Line
                    var productItem = '<tr><td class="small">' +
                        materialCounter +
                        '</td><td class="small " data-materialId="' +
                        materialId +
                        '"' +
                        'data-factor="' +
                        factor +
                        '"' +
                        'data-mainUnitId="' +
                        mainUnitId +
                        '"' +
                        'data-secUnitId="' +
                        secUnitId +
                        '"' +
                        '>' +
                        productName +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        quantity1 +
                        '" >' +
                        formatterNumber.format(quantity1) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        quantity2 +
                        '" >' +
                        formatterNumber.format(quantity2) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        price +
                        '" >' +
                        formatterCurrency.format(price) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        discount +
                        '" >' +
                        formatterNumber.format(discount) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        vatPercent +
                        '" >' +
                        formatterNumber.format(vatPercent) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        netAmount +
                        '" >' +
                        formatterCurrency.format(netAmount) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        discountAmount +
                        '" >' +
                        formatterCurrency.format(discountAmount) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        fpaAmount +
                        '" >' +
                        formatterCurrency.format(fpaAmount) +
                        '</td><td class="small text-right" ' +
                        'data-actualValue="' +
                        grosAmount +
                        '" >' +
                        formatterCurrency.format(grosAmount) +
                        '</td><td class="small">' +
                        '<a data-itemId="0" href="#" class="modifyItem"><i class="fas fa-edit"></i></a>' +
                        '</td><td class="small">' +
                        '<a data-itemId="0" href="#" class="deleteItem"><i class="fas fa-trash"></i></a>' +
                        '</td></tr>';
                    detailsTableBody.append(productItem);
                    //#endregion
                }
                else {
                    console.log("Inside lineEdit Modifying Line");
                    //Μεταβολή γραμμής πίνακα
                    var $tbl = $('#detailsTable');
                    var $rows = $('tr',$tbl);
                    var $row = $rows.eq(lineEdit);

                    var $colMaterial = $('td:eq(1)', $row);
                    var $colQ1 = $('td:eq(2)', $row);
                    var $colQ2 = $('td:eq(3)', $row);
                    var $colPrice = $('td:eq(4)', $row);
                    var $colDiscRate = $('td:eq(5)', $row);
                    var $colFpaRate = $('td:eq(6)', $row);
                    var $colNetAmount = $('td:eq(7)', $row);
                    var $colDiscAmount = $('td:eq(8)', $row);
                    var $colFpaAmount = $('td:eq(9)', $row);
                    var $colGrossAmount = $('td:eq(10)', $row);

                    $colMaterial.attr('data-materialId', materialId);
                    $colMaterial.attr('data-mainUnitId', mainUnitId);
                    $colMaterial.attr('data-secUnitId', secUnitId);
                    $colMaterial.attr('data-factor', factor);
                    $colMaterial.text(productName);

                    $colQ1.attr('data-actualValue', quantity1);
                    $colQ1.text(formatterNumber.format(quantity1));

                    $colQ2.attr('data-actualValue', quantity2);
                    $colQ2.text(formatterNumber.format(quantity2));

                    $colPrice.attr('data-actualValue', price);
                    $colPrice.text(formatterCurrency.format(price));

                    $colDiscRate.attr('data-actualValue', discount);
                    $colDiscRate.text(formatterNumber.format(discount));

                    $colFpaRate.attr('data-actualValue', vatPercent);
                    $colFpaRate.text(formatterNumber.format(vatPercent));

                    $colNetAmount.attr('data-actualValue', netAmount);
                    $colNetAmount.text(formatterCurrency.format(netAmount));

                    $colDiscAmount.attr('data-actualValue', discountAmount);
                    $colDiscAmount.text(formatterCurrency.format(discountAmount));

                    $colFpaAmount.attr('data-actualValue', fpaAmount);
                    $colFpaAmount.text(formatterCurrency.format(fpaAmount));

                    $colGrossAmount.attr('data-actualValue', grosAmount);
                    $colGrossAmount.text(formatterCurrency.format(grosAmount));
                }

                $lineEditing.val(0);
                clearItem();
                $lookUp.focus();
                updateCounter();
               
            });

            //After Add A New Order In The List, Clear Clean The Form For Add More Order.
            function clearItem() {
                $lookUp.val('');
                $price.val('');
                $q1.val('');
                $q2.val('');
                $discount.val('');
                $vatPercent.val('');
                $priceNet.val('');
                $q1.prop('disabled', false);
                $q2.prop('disabled', false);
            }

            $(document).on('click','a.deleteItem',function(e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {

                    $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800,
                        function() {
                            $(this).remove();
                        });
                    updateCounter();
                }
            });
            //--------------------
            $(document).on('click','a.modifyItem',function(e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {

                    var lineEdit = $(this).parents('tr').find('td:eq(0)').text();
                    var materialId = $(this).parents('tr').find('td:eq(1)').attr('data-materialId');
                    var materialName = $(this).parents('tr').find('td:eq(1)').text();
                    var mainUnitId = $(this).parents('tr').find('td:eq(1)').attr('data-mainUnitId');
                    var secUnitId = $(this).parents('tr').find('td:eq(1)').attr('data-secUnitId');
                    var factor = $(this).parents('tr').find('td:eq(1)').attr('data-factor');
                    var q1 = $(this).parents('tr').find('td:eq(2)').attr('data-actualValue');
                    var q2 = $(this).parents('tr').find('td:eq(3)').attr('data-actualValue');
                    var price = $(this).parents('tr').find('td:eq(4)').attr('data-actualValue');
                    var discountRate = $(this).parents('tr').find('td:eq(5)').attr('data-actualValue');
                    var fpaRate = $(this).parents('tr').find('td:eq(6)').attr('data-actualValue');

                    $lineEditing.val(lineEdit);
                    $materialId.val(materialId);
                    $lookUp.val(materialName);
                    //$price.val(price);
                    $q1.val(q1);
                    $q2.val(q2);
                    $vatPercent.val(fpaRate);
                    $discount.val(discountRate);
                    $mainUnitId.val(mainUnitId);
                    $secUnitId.val(secUnitId);
                    $factor.val(factor);
                    lineUpdatePrice(price,fpaRate);
                }
            });


            function saveData(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',

                    dataType: 'json',
                    type: 'POST',
                    url: "/api/Materials/MaterialBuyDoc",
                    data: data,
                    headers: {
                        'RequestVerificationToken': securityToken
                    },
                    success: function(result) {
                        toastr.success("Success", "Success");
                        //location.reload();
                    },
                    error: function(e) {

                        toastr.error("Error", "Error");
                    }
                });
            }

//-----------------
            $("#saveForm").click(function(e) {

                var $form = $('#transForm');
                var f = document.getElementById("transForm");
                //#region validation that didt perform well
                // var isValidate = $form[0].checkValidity();
                //var isValidate2 = f.checkValidity();
                //console.log("Check Form validation is " + isValidate);
                //console.log("Check Form validation2 is " + isValidate2);
                //if (!isValidate) {
                //    $form.addClass('was-validated');
                //    //e.preventDefault();
                //    return;
                //}
                //#endregion
                e.preventDefault();

                $('#thisForm').prop("disabled", true);

                var linesArr = [];
                linesArr.length = 0;

                $.each($("#detailsTable tbody tr"),function() {
                    linesArr.push({
                        // materialId: $(this).find('td:eq(0)').html(),
                        materialId: $(this).find('td:eq(1)').attr('data-materialId'),
                        mainUnitId: $(this).find('td:eq(1)').attr('data-mainUnitId'),
                        secUnitId: $(this).find('td:eq(1)').attr('data-secUnitId'),
                        factor: $(this).find('td:eq(1)').attr('data-factor'),
                        q1: $(this).find('td:eq(2)').attr('data-actualValue'),
                        q2: $(this).find('td:eq(3)').attr('data-actualValue'),
                        price: $(this).find('td:eq(4)').attr('data-actualValue'),
                        discount: $(this).find('td:eq(5)').attr('data-actualValue'),
                        discountRate: $(this).find('td:eq(5)').attr('data-actualValue'),
                        fpaRate: $(this).find('td:eq(6)').attr('data-actualValue'),
                        vatPercent: $(this).find('td:eq(6)').attr('data-actualValue')

                    });
                });

                var data = JSON.stringify({
                    transDate: $("#ItemVm_TransDate").val(),
                    transRefCode: $("#ItemVm_TransRefCode").val(),
                    transactorId: $("#ItemVm_TransactorId").val(),
                    companyId: $("#ItemVm_CompanyId").val(),
                    buyDocSeriesId: $("#ItemVm_BuyDocSeriesId").val(),
                    Etiology: $("#ItemVm_Etiology").val(),
                    amountFpa: $("#ItemVm_AmountFpa").attr('data-actualValue'),
                    amountNet: $("#ItemVm_AmountNet").attr('data-actualValue'),
                    amountDiscount: $("#ItemVm_AmountDiscount").attr('data-actualValue'),

                    buyDocLines: linesArr

                });
                console.log("Data->" + data);
                $.when(saveData(data))
                    .then(function(response) {
                        console.log(response);
                        $('#thisForm').prop("disabled", false);
                    })
                    .fail(function(err) {
                        console.log(err);
                        $('#thisForm').prop("disabled", false);
                    });
            });
            //-------------
            if ($initialLoad.val()=='True') {
                console.log("Initial load is true setting initial values");
                seriesChanged();
                companyChanged();
                setSeekType();
            }
            console.log("After initial load check");

            $initialLoad.val(false);
        });


    </script>
}
