@page
@model GrKouk.WebRazor.Pages.MainEntities.Materials.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.MainMeasureUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.MainMeasureUnit.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.SecondaryMeasureUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.SecondaryMeasureUnit.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.SecondaryUnitToMainRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.SecondaryUnitToMainRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.BuyMeasureUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.BuyMeasureUnit.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.BuyUnitToMainRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.BuyUnitToMainRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.FpaDef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.FpaDef.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.BarCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.BarCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.ManufacturerCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.ManufacturerCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.MaterialCaterory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.MaterialCaterory.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.MaterialType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.MaterialType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Company.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Material.Timestamp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Material.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
