@page
@model GrKouk.WebRazor.Pages.MainEntities.Materials.KartelaModel2
@{
    ViewData["Title"] = "Kartela";
}

<h4>Καρτέλα  @Model.TransactorName</h4>

<form class="form-inline" asp-page="./Kartela" method="get">
    <input type="hidden" asp-for="TransactorId" />
    <input type="hidden" asp-for="TransactorName" />
    <input type="hidden" asp-for="TransactorTypeFilter" />
    <input type="hidden" asp-for="ParentPageIndex" />
    <input type="hidden" asp-for="ParentPageSize" />
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-auto">
                <label class="small"> Page Size:</label>
                <select asp-for="PageSizeKartela" onchange="this.form.submit()" class="form-control form-control-sm small">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="form-group col-md-auto">
                <small>
                    Page:@Model.ListItems.CurrentPage of @Model.ListItems.TotalPages Total Items @Model.ListItems.TotalCount
                </small>
            </div>

        </div>


    </div>
</form>
<br/>
<table class="table table-bordered table-sm">
    <thead  class="thead-light">
        <tr>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].TransDate)
            </th>

            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].MaterialName)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].DocSeriesCode)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].ImportVolume)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].ExportVolume)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].RunningTotalVolume)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].ImportValue)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].ExportValue)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].RunningTotalValue)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListItems)
        {
            <tr>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.TransDate)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.DocSeriesCode)
                </td> 
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.ImportVolume)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.ExportVolume)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.RunningTotalVolume)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.ImportValue)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.ExportValue)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.RunningTotalValue)
                </td>

            </tr>

        }
    <tr>
        <td class="small">
           
        </td>
        <td class="small font-weight-bold">
           Σύνολα Σελίδας
        </td>
        <td class="small"></td>
        <td class="small text-right font-weight-bold">
            @Html.DisplayFor(modelItem => modelItem.sumImportsVolume)
        </td>
        <td class="small text-right font-weight-bold">
            @Html.DisplayFor(modelItem=>modelItem.sumExportsVolume)
        </td>
       
        <td class="small">
        </td>
        <td class="small text-right font-weight-bold">
            @Html.DisplayFor(modelItem => modelItem.sumImportsValue)
        </td>
        <td class="small text-right font-weight-bold">
            @Html.DisplayFor(modelItem=>modelItem.sumExportsValue)
        </td>
       
        <td class="small">
        </td>

    </tr>
    </tbody>
</table>
@{
    var prevDisabled = !Model.ListItems.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.ListItems.HasNext ? "disabled" : "";
}




    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            <li class="page-item @prevDisabled">
                <a asp-page="./Kartela"
                   asp-route-pageIndexKartela="1"
                   asp-route-PageSizeKartela="@Model.PageSizeKartela"
                   asp-route-transactorId="@Model.TransactorId"
                   asp-route-transactorName="@Model.TransactorName"
                   asp-route-parentPageIndex="@Model.ParentPageIndex "
                   asp-route-transactorTypeFilter="@Model.TransactorTypeFilter"
                   asp-route-parentPageSize="@Model.ParentPageSize"
                   class="page-link" aria-label="First">
                    @*<span aria-hidden="true">;</span>*@
                    First
                </a>
            </li>
            <li class="page-item @prevDisabled">
                <a asp-page="./Kartela"
                   asp-route-pageIndexKartela="@(Model.ListItems.CurrentPage - 1)"
                   asp-route-PageSizeKartela="@Model.PageSizeKartela"
                   asp-route-transactorId="@Model.TransactorId"
                   asp-route-transactorName="@Model.TransactorName"
                   asp-route-parentPageIndex="@Model.ParentPageIndex "
                   asp-route-transactorTypeFilter="@Model.TransactorTypeFilter"
                   asp-route-parentPageSize="@Model.ParentPageSize"
                   class="page-link" aria-label="Previous">
                    @*<span aria-hidden="true">&laquo;</span>*@
                    Previous
                </a>
            </li>
            @*<li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>*@
            <li class="page-item @nextDisabled">
                <a asp-page="./Kartela"
                   asp-route-pageIndexKartela="@(Model.ListItems.CurrentPage + 1)"
                   asp-route-PageSizeKartela="@Model.PageSizeKartela"
                   asp-route-transactorId="@Model.TransactorId"
                   asp-route-transactorName="@Model.TransactorName"
                   asp-route-parentPageIndex="@Model.ParentPageIndex "
                   asp-route-transactorTypeFilter="@Model.TransactorTypeFilter"
                   asp-route-ParentPageSize="@Model.ParentPageSize"
                   class="page-link" aria-label="Next">
                    @*<span aria-hidden="true">&raquo;</span>*@
                    Next
                </a>
            </li>
            <li class="page-item  @nextDisabled">
                <a asp-page="./Kartela"
                   asp-route-pageIndexKartela="@Model.ListItems.TotalPages"
                   asp-route-PageSizeKartela="@Model.PageSizeKartela"
                   asp-route-transactorId="@Model.TransactorId"
                   asp-route-transactorName="@Model.TransactorName"
                   asp-route-parentPageIndex="@Model.ParentPageIndex "
                   asp-route-transactorTypeFilter="@Model.TransactorTypeFilter"
                   asp-route-ParentPageSize="@Model.ParentPageSize"
                   class="page-link" aria-label="First">
                    @*<span aria-hidden="true">;</span>*@
                    Last
                </a>
            </li>
        </ul>
    </nav>

<br/>
<a asp-page="./Index"
  
   asp-route-pageIndex="@Model.ParentPageIndex "
   asp-route-transactorTypeFilter="@Model.TransactorTypeFilter"
   asp-route-PageSize="@Model.ParentPageSize"
   class="small"> Back to List</a>
