@page
@model GrKouk.WebRazor.Pages.Transactors.IndexModel

@{
    ViewData["Title"] = "Transactors List";
}

<h2>Συναλλασόμενοι</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form class="form-inline" asp-page="./Index" method="get">

    <p>
        Find by name:
        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        <input type="submit" value="Search" class="btn btn-light" /> |
        <a asp-page="./Index">Back to full List</a>

    </p>

</form>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListItems[0].TransactorTypeCode )
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactorTypeCode)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.ListItems.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.ListItems.HasNext ? "disabled" : "";
}


<form class="form-inline" method="get">
    Page Size:
    <select asp-for="PageSize" onchange="this.form.submit()">
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="100">100</option>
    </select>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.ListItems.CurrentPage - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-PageSize="@Model.PageSize"
       class="btn btn-light @prevDisabled">
        <
    </a>
    Page:@Model.ListItems.CurrentPage of @Model.ListItems.TotalPages Total Items @Model.ListItems.TotalCount
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.ListItems.CurrentPage + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       asp-route-PageSize="@Model.PageSize"
       class="btn btn-light @nextDisabled">
        >
    </a>

</form>