@page
@model GrKouk.WebRazor.Pages.Configuration.CustomerTransDefs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>Index Customer Trans Definition</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].FinancialTransAction)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].TurnOverTrans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].DefaultDocSeriesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransCustomerDef[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TransCustomerDef) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialTransAction)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TurnOverTrans.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDocSeriesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
