@page
@model GrKouk.WebRazor.Pages.Configuration.TransactorTransDocTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransTransactorDocTypeDef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransTransactorDocTypeDef.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransTransactorDocTypeDef.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransTransactorDocTypeDef.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransTransactorDocTypeDef.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransTransactorDocTypeDef.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransTransactorDocTypeDef.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransTransactorDocTypeDef.TransTransactorDef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransTransactorDocTypeDef.TransTransactorDef.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransTransactorDocTypeDef.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransTransactorDocTypeDef.Company.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TransTransactorDocTypeDef.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
