@page
@model GrKouk.WebRazor.Pages.Configuration.SupplierTransDefs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransSupplierDef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransSupplierDef.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransSupplierDef.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransSupplierDef.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransSupplierDef.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransSupplierDef.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransSupplierDef.Active)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.TransSupplierDef.TurnOverTrans)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransSupplierDef.TurnOverTrans.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransSupplierDef.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransSupplierDef.Company.Code)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TransSupplierDef.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
