@page
@using System.Collections.Specialized
@model GrKouk.WebRazor.Pages.Transactions.SellMaterialDoc.IndexModel

@{
    ViewData["Title"] = "Παραστατικά Πώλησης";
}

<h4>Λίστα Παραστατικών Πώλησης</h4>
<div class="container ">
    <ul class="nav small justify-content-end ">
        <li class="nav-item">
            <a asp-page="Create" class="nav-link"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.ListItems.CurrentPage)"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-PageSize="@Model.PageSize">Create New</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#filterCollapse" role="button"
               aria-expanded="false" aria-controls="filterCollapse">
                Filters
            </a>
           
        </li>
     
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>


<div class="collapse " id="filterCollapse">
    <form class="form-inline" asp-page="./Index" method="get">
        <input type="hidden" asp-for="@Model.FiltersVisible" id="filtersVisible"  />
        <div class="container">
            <div class="form-row">

                <div class="form-group col-md-auto">
                    <label class="small"> Search:</label>
                    <input class="form-control form-control-sm small" type="text" name="SearchString" value="@Model.CurrentFilter"/>
                    <input type="submit" value="Search" class="btn btn-light btn-sm"/>
                </div>
                <div class="form-group col-md-auto">
                    <a class="small" asp-page="./Index"
                       asp-route-sortOrder="@Model.CurrentSort"
                       asp-route-pageIndex="@(Model.ListItems.CurrentPage)"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       asp-route-companyFilter="@Model.CompanyFilter"
                       asp-route-filtersVisible="@Model.FiltersVisible"
                       asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                       asp-route-PageSize="@Model.PageSize">Back to full List</a>
                </div>
                <div class="form-group col-md-auto">
                    <label class="small"> Period:</label>
                    <select name="DatePeriodFilter" asp-for="CurrentDatePeriod" class="form-control form-control-sm small" asp-items="ViewBag.DataFilterValues"
                            onchange="this.form.submit()"></select>
                </div>
                <div class="form-group col-md-auto">
                    <label class="small">Company:</label>
                    <select asp-for="CompanyFilter" class="form-control form-control-sm small"
                            asp-items="ViewBag.CompanyFilter" onchange="this.form.submit()"></select>

                </div>
                <div class="form-group col-md-auto">
                    <label class="small"> Page Size:</label>
                    <select asp-for="PageSize" onchange="this.form.submit()" class="form-control form-control-sm small">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="form-group col-md-auto">
                    <small>
                        Page:@Model.ListItems.CurrentPage of @Model.ListItems.TotalPages Total Items @Model.ListItems.TotalCount
                    </small>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th class="small text-center">
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.DateSort"
                   asp-route-searchFilter="@Model.CurrentFilter"
                   asp-route-companyFilter="@Model.CompanyFilter"
                   asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                   asp-route-filtersVisible="@Model.FiltersVisible"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.ListItems[0].TransDate)
                </a>
                <i class="@Model.DateSortIcon"></i>
            </th>
            <th class="small">
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-searchFilter="@Model.CurrentFilter"
                   asp-route-companyFilter="@Model.CompanyFilter"
                   asp-route-filtersVisible="@Model.FiltersVisible"
                   asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.ListItems[0].TransactorName)
                </a>
                <i class="@Model.NameSortIcon"></i>
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].SellDocSeriesCode)
            </th>


            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].TransRefCode)
            </th>
            <th class="small text-center">
                @Html.DisplayNameFor(model => model.ListItems[0].TotalAmount)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].CompanyCode)
            </th>
            <th class="small"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListItems)
        {
            <tr>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.TransDate)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.TransactorName)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.SellDocSeriesCode)
                </td>

                <td class="small">
                    @Html.DisplayFor(modelItem => item.TransRefCode)
                </td>
                <td class="small text-right">
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>

                <td class="small">
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
        <tr class="table-info">
            <td class="small"></td>
            <td class="small"></td>
            <td class="small font-weight-bold">
                Σύνολα Σελίδας
            </td>
            <td class="small"></td>
            <td class="small text-right font-weight-bold">
                @Html.DisplayFor(modelItem => modelItem.SumTotalAmount)
            </td>
            <td class="small"></td>
            <td class="small"></td>
        </tr>
    </tbody>
</table>
@{
    var prevDisabled = !Model.ListItems.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.ListItems.HasNext ? "disabled" : "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm">
        <li class="page-item @prevDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-searchFilter="@Model.CurrentFilter"
               asp-route-companyFilter="@Model.CompanyFilter"
               asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
               asp-route-filtersVisible="@Model.FiltersVisible"
               asp-route-PageSize="@Model.PageSize"
               class="page-link" aria-label="First">
                @*<span aria-hidden="true">;</span>*@
                First
            </a>
        </li>
        <li class="page-item @prevDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.ListItems.CurrentPage - 1)"
               asp-route-searchFilter="@Model.CurrentFilter"
               asp-route-companyFilter="@Model.CompanyFilter"
               asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
               asp-route-filtersVisible="@Model.FiltersVisible"
               asp-route-PageSize="@Model.PageSize"
               class="page-link" aria-label="Previous">
                @*<span aria-hidden="true">&laquo;</span>*@
                Previous
            </a>
        </li>
       
        <li class="page-item @nextDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.ListItems.CurrentPage + 1)"
               asp-route-searchFilter="@Model.CurrentFilter"
               asp-route-companyFilter="@Model.CompanyFilter"
               asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
               asp-route-filtersVisible="@Model.FiltersVisible"
               asp-route-PageSize="@Model.PageSize"
               class="page-link" aria-label="Next">
                @*<span aria-hidden="true">&raquo;</span>*@
                Next
            </a>
        </li>
        <li class="page-item  @nextDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.ListItems.TotalPages"
               asp-route-searchFilter="@Model.CurrentFilter"
               asp-route-companyFilter="@Model.CompanyFilter"
               asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
               asp-route-filtersVisible="@Model.FiltersVisible"
               asp-route-PageSize="@Model.PageSize"
               class="page-link" aria-label="First">
                @*<span aria-hidden="true">;</span>*@
                Last
            </a>
        </li>
    </ul>
</nav>
@section Scripts
{
    <script>
        $(document).ready(function () {
            //#region variables
            var $filtersVisible = $('#filtersVisible');
            var $filterCollapse = $('#filterCollapse');
            //#endregion

            $filterCollapse.on('hidden.bs.collapse', function() {
                console.log('Filters Hidden');
                $filtersVisible.val(false);
            });

            $filterCollapse.on('shown.bs.collapse',function() {
                    console.log('Filters Shown');
                    $filtersVisible.val(true);
            });
            var fv = $filtersVisible.val();
            if (fv =='true') {
                console.log("Initial load is true setting initial values");
                $filterCollapse.collapse('show');
            }
        });
    </script>
}
