@page
@model GrKouk.WebRazor.Pages.Configuration.CustomerTransDocSeries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransCustomerDocSeriesDef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransCustomerDocSeriesDef.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransCustomerDocSeriesDef.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransCustomerDocSeriesDef.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransCustomerDocSeriesDef.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransCustomerDocSeriesDef.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransCustomerDocSeriesDef.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransCustomerDocSeriesDef.TransCustomerDocTypeDef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransCustomerDocSeriesDef.TransCustomerDocTypeDef.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransCustomerDocSeriesDef.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransCustomerDocSeriesDef.Company.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TransCustomerDocSeriesDef.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
