@page
@model GrKouk.WebRazor.Pages.MainEntities.Diaries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DiaryDef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiaryDef.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaryDef.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaryDef.DiaryType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaryDef.DiaryType)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DiaryDef.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
