@page
@model GrKouk.WebRazor.Pages.Configuration.TransactorTransDefs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>Transactor Trans Defs Index</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].Code)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].Name)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].Active)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].FinancialTransAction)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].TurnOverTrans)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].DefaultDocSeriesId)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.TransTransactorDef[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TransTransactorDef) {
        <tr>
            <td class="small">
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.FinancialTransAction)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.TurnOverTrans.Id)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.DefaultDocSeriesId)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.Company.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
