@model GrKouk.WebRazor.Pages.Transactions.TransactorTransMng.Index2Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
            <th name="selectAllRowsColumn" @Model.RowSelectorsHidden>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="checkAllRows">
                    <span class="custom-control-indicator"></span>
                </label>
            </th>
            <th class="small text-center">
                <a asp-page="./Index2" asp-route-sortOrder="@Model.DateSort"
                   asp-route-searchFilter="@Model.CurrentFilter"
                   asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                   asp-route-companyFilter="@Model.CompanyFilter"
                   asp-route-filtersVisible="@Model.FiltersVisible"
                   asp-route-rowselectorsVisible="@Model.RowSelectorsVisible"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.ListItems[0].TransDate)

                </a>
                <i class="@Model.DateSortIcon"></i>
            </th>
            <th class="small">
                <a asp-page="./Index2" asp-route-sortOrder="@Model.NameSort"
                   asp-route-searchFilter="@Model.CurrentFilter"
                   asp-route-datePeriodFilter="@Model.CurrentDatePeriod"
                   asp-route-companyFilter="@Model.CompanyFilter"
                   asp-route-filtersVisible="@Model.FiltersVisible"
                   asp-route-rowselectorsVisible="@Model.RowSelectorsVisible"
                   asp-route-PageSize="@Model.PageSize">
                    @Html.DisplayNameFor(model => model.ListItems[0].TransactorName)
                </a>

                <i class="@Model.NameSortIcon"></i>
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].TransTransactorDocSeriesCode)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].SectionCode)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].TransRefCode)
            </th>



            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].DebitAmount)
            </th>
            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].CreditAmount)
            </th>

            <th class="small">
                @Html.DisplayNameFor(model => model.ListItems[0].CompanyCode)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListItems)
        {
            <tr>
                <td name="selectRowColumn" @Model.RowSelectorsHidden>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="checkTableRow">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td class="text-right small">
                    @Html.DisplayFor(modelItem => item.TransDate)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.TransactorName)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.TransTransactorDocSeriesCode)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.SectionCode)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.TransRefCode)
                </td>

                <td class="text-right small">
                    @Html.DisplayFor(modelItem => item.DebitAmount)
                </td>
                <td class="text-right small">
                    @Html.DisplayFor(modelItem => item.CreditAmount)
                </td>

                <td class="small">
                    @Html.DisplayFor(modelItem => item.CompanyCode)
                </td>

                <td class="small">
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
        <tr class="table-info">
            <td class="small" name="selectRowColumn" @Model.RowSelectorsHidden></td>
            <td class="small"></td>
            <td class="small"></td>
            <td class="small"></td>
            <td class="small font-weight-bold">
                Σύνολα Σελίδας
            </td>
            <td class="small"></td>
            <td class="small text-right font-weight-bold">
                @Html.DisplayFor(modelItem => modelItem.sumDebit)
            </td>
            <td class="small text-right font-weight-bold">
                @Html.DisplayFor(modelItem => modelItem.sumCredit)
            </td>
            <td class="small"></td>
            <td class="small"></td>
        </tr>
    </tbody>
</table>